{% extends "base.html"%}

{% block konten%}

<h1>Tentang Kami</h1>
<br>
<p>Halaman ini berisi informasi tentang kami para MAHASIKSA yang sedang belajar membuat website menggunakan python.</p>
<br>
<P>Jdi guys PYTHON merupakan bahasa pemograman berorientasi objek(berbasis data)tingkat tinggi(lebih mudah di pahami oleh manusia).
    Pertama kali di luncurkan pada tahun 1992,Python dibuat dengan cara yang relatif intuitif untuk ditulis dan dipahami. Dengan demikian,
    Python merupakan bahasa coding yang ideal bagi mereka yang mengiginkan perkembangan pesat.
</P>

{% endblock%}