<html>

<head>
    <title>Selamat Datang</title>
    <!-- CSS only -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename= 'css/style.css')}}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">

        <div class="container">
            <a class="navbar-brand" href="#">SIM PENGADUAN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('rmahasiswa.home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('rmahasiswa.about')}}">About</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('rmahasiswa.login_mahasiswa')}}">Login Mahasiswa</a>
                    </li>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('rmahasiswa.pendataanto')}}">AGENDA DAN INFORMASI</a>
                    </li>
                    {% else %}
                    {% endif %}

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <!--falsh-->
                    {% with messages= get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category,massage in messages %}

                    <div class="alert alert-{{category}}">
                        {{massage}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {% block konten %}

                    {% endblock%}

                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="shadow p-3 mb-5 bg-white rounded">

                    {% if current_user.is_authenticated %}
                    <div class="card" style="width: 20rem;">
                        <img src="{{url_for('static', filename='foto/' + current_user.foto)}}" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{current_user.nama}}</h5>
                            <p class="card-text">{{current_user.email}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> <a
                                    href="{{ url_for('rmahasiswa.akunmahasiswa')}}">Dashboard</a>
                            </li>
                            <li class="list-group-item"><a href="{{ url_for('rmahasiswa.pengaduan')}}">Pengaduan</a>
                            </li>

                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="{{ url_for('rmahasiswa.edit_mahasiswa')}}" class="card-link">Update Profil</a>
                            <a href="{{ url_for('rmahasiswa.logout_mahasiswa')}}" class="card-link">Logout</a>
                        </div>
                    </div>
                    {% else %}
                    <h1>Menu Lain</h1>
                    <li>Data Mahasiswa</li>
                    <li>Data Dosen</li>
                    {% endif %}

                    
                </div>
            </div>
        </div>

    </div>
    


</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>

</html>