{% extends "base.html"%}

{% block konten%}

<h3>Detail Pengaduan</h3>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>


</div>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Data Detail Pengaduan</h4>


    <table class="table table-hover">
        <tr>
            <td>Tgl Post</td>
            <td>{{dt_pengaduan.tgl_post}}</td>
        </tr>
        <tr>
            <td>Subjek</td>
            <td>{{dt_pengaduan.subjek}}</td>
        </tr>
        <tr>
            <td>Kategori</td>
            <td>{{dt_pengaduan.kategori}}</td>
        </tr>
        <tr>
            <td>Detail :</td>
            <td>{{dt_pengaduan.detail_pengaduan}}</td>
        </tr>

    </table>
</div>

<a class="btn btn-warning" href="{{url_for('rmahasiswa.pengaduan')}}">Kembali</a>

{% endblock%}