{% extends "base.html"%}

{% block konten%}

<div class="jumbotron">
    <h1 class="display-4">Welcome To My Website</h1>
    <p class="lead">Silahkan di lihat - lihat halaman home ini. Semoga suka ya!</p>
    <hr class="my-4">
    <p>Perkenalkan nama saya Riska Tawari salah satu mahasiswi dari Universitas Muhammadiyah Maluku Utara prodi Teknik
        Informatika semester IV. Di website ini saya hanya ingin memberitahu kepada teman-teman bahwa web ini merupakan web perdana 
        saya jadi mohon maaf jika masih banyak kekurangannya. Satu hal yang harus teman-teman ketahui "BERANILAH BERKARYA.KARENA UNTUK MENJADI KAYA KITA BUTUH KARYA BUKAN GAYA."
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock%}