{% extends "base.html"%}

{% block konten%}

<div class="jumbotron">
    <h3>AGENDA DAN INFORMASI</h3>
    <div class="alert alert-success" role="alert">
        <p>Hallo Teman-teman silahkan isi agenda maupun informasi yang ingin teman-teman tambahkan
            untuk keperluan kita selanjutnya di bawah ini.
        </p>
    </div>
    
    <div class="alert alert-success" role="alert">
    <!--form pengaduan-->
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="form-group mb-3">
            {{form.subjek.label(class="form-control-label")}}
            {% if form.subjek.errors %}
            {{form.subjek(class="form-control is-invalid")}}

            <div class="invalid-feedback">
                {%for error in form.subjek.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {%else%}
            {{form.subjek(class="form-control")}}

            {%endif%}
        </div>

        <div class="form-group mb-3">
            {{form.frekuensi.label(class="form-control-label")}}
            {% if form.frekuensi.errors %}
            {{form.frekuensi(class="form-control is-invalid")}}

            <div class="invalid-feedback">
                {%for error in form.frekuensi.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {%else%}
            {{form.frekuensi(class="form-control")}}
            {%endif%}
        </div>

        <div class="form-group mb-3">
            {{form.detail.label(class="form-control-label")}}
            {% if form.detail.errors %}
            {{form.detail(class="form-control is-invalid")}}

            <div class="invalid-feedback">
                {%for error in form.detail.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {%else%}
            {{form.detail(class="form-control")}}
            {%endif%}
        </div>

        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>

    <hr class="my-4">
    <h4>Data Pengaduan</h4>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subjek</th>
                    <th scope="col">Frekuensi</th>
                    <th scope="col">Detail</th>

                    <th scope="col">Edit</th>
                    <th scope="col">Hapus</th>
                </tr>
            </thead>
            <tbody>
                {% for data in dt_pendataan %}
                <tr>
                    <th scope="row">
                        <a href="{{url_for('rmahasiswa.detail_pendataan',ed_id=data.id)}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z" />
                            </svg>
                        </a>
                    </th>


                    <td>{{data.subjek}}</td>
                    <td>{{data.frekuensi}}</td>
                    <td>{{data.detail}}</td>

                    <td><a class="btn btn-secondary"
                            href="{{url_for('rmahasiswa.update_pendataan',ed_id=data.id)}}">Edit</a></td></button>
                    <td><a class="btn btn-info" href="/delete_pendataan/{{data.id}}" onclick="return confirm('yakin mau hapus?')">
                            Hapus</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{url_for('rmahasiswa.pendataanto')}}">Kembali</a>
    </div>
</div>

{% endblock%}